<header>
  <div class="logo">
    <h1>KitShare</h1>
  </div>
  <div class="header_links">
    <p>Already have an account?  <a href="/sessions/new">Login</a> </p>
  </div>
</header>
<div class="backsplash">

<form class="new" action="/users" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="field">
    <label for="user[first_name]">First Name:</label>
    <input class="form_text" type="text" name="user[first_name]" >
  </div>

  <div class="field">
    <label for="user[last_name]">Last Name:</label>
    <input class="form_text" type="text" name="user[last_name]" >
  </div>

  <div class="field">
    <label for="user[email]">Email:</label>
    <input class="form_text" type="text" name="user[email]" >
  </div>

  <div class="field">
    <label for="user[password]">Password:</label>
    <input class="form_text" type="password" name="user[password]" >
  </div>

  <div class="field">
    <label for="user[password_confirmation]">Confirm PW:</label>
    <input class="form_text" type="password" name="user[password_confirmation]" >
  </div>

  <div class="submit">
    <button type="submit" class="btn">Register</button>
  </div>
  <% if flash[:registration_errors] %>
  <div class="errors">
      <% flash[:registration_errors].each do |error| %>
        <p class="red"><%=error%></p>
      <%end%>
  </div>
  <%end%>

</form>
</div>
