<%= render "/header" %>
<div class="main_content">
  <div class="kit">
    <div class="kit_header">
      <h3 class="kit_title"><%= @item.item_name %></h3>
    </div>
    <div class="item_show_img"><%= image_tag @item.item_img.url%></div>
    <p><%=@item.description%></p>
    
  </div>
