<%= render "/header" %>
<div class="main_content">
  <div class="kit">
    <div class="kit_header">
      <h3 class="kit_title"><%= @item.item_name %></h3>
    </div>
    <%= image_tag @item.item_img.url%>
    <p><%=@item.description%></p>
  </div>
