/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root{
  --accent-color: #074F57;
  --input-color: #CE8E2D;
  --whitehover-color: #E8DCDA;
  --accenthover-color: #3E7F87;

}
*{
   font-family: sans-serif;
   margin: 0;
   padding: 0;
   border: 0;
}
body{
  width: 100vw;
}
header{
  position: fixed;
  /*margin-top: px;*/
  width: 100%;
  background-color: white;
  border-bottom: 16px solid var(--accent-color);
}
  div.logo{
    width: 50%;
    min-width: 120px;
    display: inline-block;
    vertical-align: middle;
    /*padding: 5px 0;*/
  }
  div.logo h1{
    margin: 10px 20px;

    /*display: inline;*/
  }
  div.header_links{
    width: 40%;
    min-width: 120px;
    display: inline-block;text-align: right;
    vertical-align: middle;
  }

form.new{
  margin-top: 100px;
  display: inline-block;
  width: 380px;
  padding-top: 20px;
  border: 2px solid var(--accent-color);
  border-bottom: 8px solid var(--accent-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
  div.field{
    height: 30px;
  }
    form.new label{
      font-size: 1.125em;
      display: inline-block;;
      width: 150px;
      text-align: right;
      margin-right: 20px;
    }
.form_text{
  height: 25px;
  width: 170px;
  border: 2px solid var(--input-color);
  border-radius: 3px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
  font-size: 1em;
}
  div.submit{
    text-align: right;
    margin: 20px;

  }
  div.errors{
    width: 95%;
    background-color: var(--accent-color);
    color: white;
    text-align: left;
    padding-left: 5%;
    padding-top: 8px;
  }

nav{
  margin-top: 80px;
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 56px;
  /*border-right: 2px solid var(--accent-color);*/
  border-bottom-right-radius:  10px;
  vertical-align: top;
  /*background-color: white;*/
}
  ul.nav{
    display: inline-block;
  }
    ul.nav li{
      display: inline-block;
    }
  nav form{
    background-color: none;
    text-align: center;
    vertical-align: middle;
    min-width: 250px;
    border-right: 2px solid var(--accent-color);
    border-bottom: 8px solid var(--accent-color);
    padding: 5px;
    /*background-color: white;*/


  }
  .dropdown{
    vertical-align: top;
    background-color: white;
    wid
  }
  .nav-btn{
    width: 100%;
    height: 40px;
    font-size: 1.125em;
    background: none;
  }

  .dropdown:hover{
    background-color: var(--whitehover-color);
  }

  .dropdown-content{
    background-color: var(--accent-color);
    font-size: 1em;
    color: white;
    display: none;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 8px solid var(--accent-color);
  }
  .nav_link:hover{
    background-color: var(--accenthover-color);
  }
  .nav_link input{
    color: var(--whitehover-color);
    font-weight: bold;
  }

  .dropdown:hover .dropdown-content{
    display: inline-block;
  }
  button.nav_create{
    margin-top: 5px;
  }
  input.nav_create{
    margin-top: 5px;
  }

button.btn{
  padding: 5px 10px;
  background-color: var(--input-color);
  font-size: 1em;
  border-radius: 3px;
}

a{
  color: var(--input-color);
  /*font-size: 1.25em;*/
  text-decoration: none;
}
a:hover{
  color: var(--accenthover-color);

}

div.container{
  /*width: 100%;*/
  margin: 0;
}

h1{
  font-weight: 300;
  font-size: 40px;
}

form.create_kit{
  text-align: right;
}
  form.create_kit input, form.create_kit select, form.create_kit textarea {
    margin: 5px;
    width: 180px;
    resize: none;
    display: block;
    align-items: right;
  }
  form.create_kit textarea{
    height: 60px;
  }

div.main_content{
  padding-top: 180px;
  padding-left: 20px;
}
div.kit_info{
  /*background-color: var(--accent-color);*/
  width: 90%;
}
.box{
  display: inline-block;
  width: 300px;
  /*height: 350px;*/
  /*padding: 10px;*/
  margin: 2px;
  background-color: var(--accenthover-color);

  border: 2px solid var(--accent-color);
  border-bottom: 8px solid var(--accent-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  vertical-align: top;
}
  .box_title{
    background-color: var(--accent-color);
    vertical-align: middle;
    padding: 5px;
    color: white;
  }
  .box_description{
    /*background-color: var(--accent-color);*/
    height: 20px;
    color: white;
    padding:10px;

  }
  .box_img_crop{
    width: 300px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    /*background-color: var(--accenthover-color);*/
  }
    .box_img_crop img{
      /*margin-top: -100px;*/
      height: 300px;
      width: 300px;
      object-fit: cover;

      /*background-color: var(--accenthover-color);*/
    }
  .box_actions{
    padding-left: 5px;
    position: relative;
    margin-top: -18px;
  }
  .item_form{
    background-color: var(--accenthover-color);

  }
    .input{
      display: inline-block;
      background-color: white;
      min-height: 20px;
      font-size: 1em;
      width: 245px;
      margin: 5px 23px;
      padding: 3px;

    }

  .input_border{
    border: 2px solid var(--input-color);
    border-radius: 5px;
  }

    .textarea{
        resize: none;
        height: 100px;
      }
      .submit{
        padding: 5px 10px;
        background-color: var(--input-color);
        font-size: 1em;
        border-radius: 3px;
        margin-left: 23px;
      }
    .item_img{
      padding: 50px 0;
      text-align: center;
      display: inline-block;
    }
